.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
data/*
!data/.gitkeep
artifacts/
*.parquet
*.zip
node_modules/
dist/
.env
!data/external/
data/external/*
!data/external/route_endpoints.json
!data/external/2gis_congestion.csv
!data/external/features_daily_2025.csv
!data/external/isdayoff_2025.csv
!data/external/build_features.py
!data/external/schedule_oct_2025.csv.gz
api/target/
